<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
      <title>What's Next?</title>
  </head>

<style>
h3 {
  width: 300px;
  margin-left: calc(50% - 300px/2);
  padding: 7px;
}

button {
  margin-left: calc(42%);
  font-family: "PT Sans Narrow";
  font-size: 15px;
  color: white;
  width: 15%;
  background-color: black;
}

</style>

<body>

 <h3> Do you need to find someone else?</h3>

 <a href="http://127.0.0.1:5000/search">
     <button type="submit" action="">Yes, let's continue our quest </button>
 </a>

 <a href="http://127.0.0.1:5000/end">
   <button id="bottom_button">No, thank you, Assistant </button>
 </a>

</body>
</html>
